# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env

# -------------------------
# Dagster
# -------------------------
.dagster/

# -------------------------
# Docker
# -------------------------
*.log

# -------------------------
# Database
# -------------------------
postgres_data/

# -------------------------
# OS
# -------------------------
.DS_Store
